{
  "rules": {
    "indent": "off",
    "quotes": "off",
    "linebreak-style": "off",
    "semi": "off",
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "spaced-comment": [
      2,
      "always"
    ],
    "no-useless-escape": "off",
    "no-var": "error",
    "prefer-const": "error",
    "prefer-arrow-callback": "error",
    "prefer-template": "error"
  },
  "env": {
    "node": true,
    "jest": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "expect": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018
  }
}
