#book-search-results {
    opacity: 1;
    .search-results {
        .has-results {
            .gitbook-markdown(@md-color: @content-color, @md-line-height: @content-line-height);

            .search-results-item h3 {
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
}

body.search-loading {
    #book-search-results {
        opacity: 0.3;
    }
}