name: benchmark
on:
  push:
    branches:
      - master
env:
  CI: true
permissions:
  contents: write
jobs:
  benchmark:
    name: "Test on Node.js ${{ matrix.node-version }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      - name: setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          cache: 'pnpm'
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: pnpm install
      - name: Build
        run: pnpm run build
      - name: Run Benchmark
        run: cd examples/benchmark && node benchmark.js | tee output.txt
      - name: Store benchmark result
        uses: rhysd/github-action-benchmark@d48d326b4ca9ba73ca0cd0d59f108f9e02a381c7 # v1.20.4
        with:
          name: HonKit benchmark
          tool: 'benchmarkjs'
          output-file-path: examples/benchmark/output.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: true
          alert-comment-cc-users: '@azu'
