name: benchmark
on:
  push:
    branches:
      - master
env:
  CI: true
jobs:
  benchmark:
    name: "Test on Node.js ${{ matrix.node_version }}"
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        node_version: [12]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup Node ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node_version: ${{ matrix.node_version }}
      - name: Install
        run: yarn install
      - name: Build
        run: yarn run build
      - name: Run Benchmark
        run: cd examples/benchmark && node index.js | tee output.txt
      - name: Store benchmark result
        uses: rhysd/github-action-benchmark@v1
        with:
          name: Secretlint benchmark
          tool: 'benchmarkjs'
          output-file-path: examples/benchmark/output.txt
          # Use "bot-user" token
          github-token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          auto-push: true
          # Show alert with commit comment on detecting possible performance regression
          alert-threshold: '200%'
          comment-on-alert: true
          fail-on-alert: true
          alert-comment-cc-users: '@azu'
